@import 'tailwindcss';
@theme {
	--color-background: rgb(15, 15, 15);
	--color-background-secondary: rgb(33, 33, 33);
	--color-text: rgb(255, 255, 255);
	--color-text-secondary: rgb(170, 170, 170);
	--color-icon-inactive: rgb(107, 107, 107);

	--color-active: rgb(118, 106, 200);
	--color-purple-button-active: rgb(123, 113, 198);

	--color-fields: rgb(44, 44, 44);
	--color-border: rgb(48, 48, 48);

	--color-hover-button: rgb(0, 0, 0, 0.2);

	--color-red-error: rgb(229, 57, 53);
}

/*tailwind v4 configuration */
